LIFE_EGZAMINY.synctex.gz
LIFE.synctex.gz
BONUS/STA_EGZAMINY.synctex.gz
BONUS/STA.synctex.gz
BONUS/PROPERTY.synctex.gz
BONUS/PROPERTY.synctex(busy)
BONUS/PROPERTY_EGZAMINY.synctex.gz
BONUS/PROPERTY.log
